<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
    <head>
        <title>{% block title %}pamm.io{% endblock %}</title>
    </head>
    {% block stylesheets %}
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    {% endblock stylesheets %}
    <body>
        <div>
            {% block body_block %}{% endblock %}
        </div>

        <hr />

        <div>
            <ul>
            {% if user.is_authenticated %}
                <li><a href="/restricted/">Restricted Page</a></li>
                <li><a href="/logout/">Logout</a></li>
            {% else %}
                <li><a href="/register/">Register Here</a></li>
                <li><a href="/login/">Login</a></li>
            {% endif %}

                <li><a href="/about/">About</a></li>
            </ul>
        </div>
    </body>
</html>