{% extends 'base.html' %}

{% block title %}Settings{% endblock %}

{% block body_block %}

    <h1>Settings</h1>

    <div class="col-md-6 col-md-offset-3">
        {% if updated %}
            <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>    
            {{ error_message }}
            <strong>Settings updated!</strong>
            </div>
        {% endif %}
        
        <form id="user_form" method="post" action="/settings/">

            {% csrf_token %}
            {% load bootstrap3 %}
            {% bootstrap_form form %}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Update" class="btn btn-primary pull-right"/>
        </form>
    </div>

{% endblock %}